<!DOCTYPE html>
<html>
<head>
	<title>MANAGER</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
	.container1{
		height: 60px;
		background-color: #AF9B60;
		margin-top: 20px;
		border-radius: 10px;
	}
	
	.contain{
		background-color:#FF69B4;
		height: 650px;
		width: 1140px;
		margin-left: 230px;
		margin-top: 20px;
		border-radius: 10px;
	}
</style>
<body>

	<div class="container">

  <!-- Button to Open the Modal -->
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Client Information</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           <h4 class="modal-title">Complete Name</h4><br>
           <input type="text" id="completename"><br>
         
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="btn-client" type="button" class="btn btn-danger" data-dismiss="modal" type="GET">Add</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>


	
	<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="projects">View All Clients Projects</a>
      </li>
  </ul>
</nav>
</header>

	<div class="container1">
		<button   data-toggle="modal" data-target="#myModal"  type="button" class="btn btn-primary" style="margin-top:10px; margin-left:10px;">ADD CLIENT</button>
		<button type="button" class="btn btn-success" style="margin-top:10px;">View Projects</button>
	</div>
	<div id="contain">
		<table class="table">
    <thead>
      <tr>
        <th>Complete Name</th>
      </tr>
    </thead>
    <tbody>
    	<%for(var i = 0;i<data.length;i++){%>
    	 <tr class="table-success" data-id = "<%=data[i]._id%>">
        <td><%=data[i].name%></td>
        <td><button   data-toggle="modal" data-target="#myModal1"  type="button" class="btn btn-primary" style="margin-top:10px;">ADD PROJECT</button></td>
        
      <div class="container">

  <!-- Button to Open the Modal -->
  <!-- The Modal -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Project Information</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           <h4 class="modal-title">Project Name</h4><br>
           <input type="text" id="projectname"><br>
            <h4 class="modal-title">Status  </h4><br>
           <input type="text" id="status"><br>
         
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button data-name = "<%=data[i].name%>" id="btn-project" type="button" class="btn btn-danger" data-dismiss="modal">Add</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

    <%}%>
     
     
    </tbody>
  </table>
	</div>

</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	$(document).ready(function(){
		$("#btn-client").click(function(){
			var client ={name: $("#completename").val()}
			console.log(client);
			$.ajax({
				type:"POST",
				url:"/addclient",
				data:client,
				success:function(data){
					console.log("success");
				}
				 
			})
			location.reload();

		});

		$("#btn-project").click(function(){
			var project ={name: $(this).data("name"),projectname: $("#projectname").val(), status: $("#status").val()};
			console.log(project);
			$.ajax({
				type:"POST",
				url:"/addproject",
				data:project,
				success:function(data){
					console.log("success");
				}
				 
			})
			// location.reload();

		});
    // $("#delname").click(function(){

    // })
    // $("#delname").click(function(){
    //   var del = {name: $("#completename").val()}
    //   console.log(del);
    //   $.ajax({
    //     type: "GET",
    //     url:"/delproject",
    //     data: del,
    //     success:function(data){
    //       console.log("success");
    //     }
    //   })
    // })
	});


</script>
</html>