<!DOCTYPE html>
<html>
<head>
  <title>MANAGER</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
  .container1{
    height: 60px;
    background-color: #AF9B60;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .contain{
    background-color:#FF69B4;
    height: 650px;
    width: 1140px;  
    margin-left: 230px;
    margin-top: 20px;
    border-radius: 10px;
  }
</style>
<body>
    <div class="container">
        <button type="button" class="btn btn-primary" style="float: right; " id="add">ADD PROJECTS</button>
        <h2>Projects</h2>
        <center>
            <table class="table table-striped table-sm" style="width: 100%">
                <thead class="thead-dark ">
                    <tr>
                        <th>Complete Name</th>
                        <th>Project Name</th>
                        <th>Task</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var i = 0;i<data.length;i++){%>
                    <tr class="table-success" data-id="<%=data[i]._id%>">
                        <td><%=data[i].name %></td>
                        <td><%=data[i].projectname%></td>
                        <td>
                            <select style="width: 70%">
                                <option value="...."></option>
                                <option value="Task 1">Task 1</option>
                                <option value="Task 2">Task 2</option>
                                <option value="Task31">Task 3</option>
                            </select>
                        </td>
                        <td><%=data[i].status%></td>
                        <td><button data-toggle="modal" data-target="#myModal1" type="button" class="btn btn-primary"
                                style="margin-top:10px;"> UPDATE PROGRESS</button></td>
                    </tr>
                </tbody>

            </table>
        </center>

    </div><br><br><br>
  
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(document).ready(function(){
    /* ang kani kai pra maka update ka sa projectname */
    // $("#btn-project").click(function(){
    //   var up ={projectname: $("#projectname").val()};
    //   console.log(up);
    //   $.ajax({
    //     type:"UPDATE",
    //     url:"/proj",
    //     data:up,
    //     success:function(data){
    //       window.location.replace('/');
    //     }
         
    //   })
    //   location.reload();

    // })
    

  });


</script>
</html>